<div class="container">
	<%= render 'home/nav' %>

    <div class="btn-group pull-right">
      <a id="org-chart-history-menu" class="btn dropdown-toggle" data-toggle="dropdown" href="#">Current <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a class="org-chart-history-item" id="-1" href="#">Current</a></li>
        <% OrgChart.all.each do |o| %>
          <li><a class="org-chart-history-item" id="<%= o.id %>" href="#"><%= o.effective_date %>  - <%= o.name %></a></li>
        <% end %>
      </ul>
			<%= link_to 'Edit', "#", :id => "edit_org_chart_link", :class => "btn" %> 
			<%= link_to 'Del', "#", :id => "delete_org_chart_link", :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => "btn" %>
    </div>

  <div id="chart"></div>
</div>
<% content_for :header do %>
  <%= javascript_include_tag "/d3.min.js" %>
  <%= javascript_include_tag "/d3.layout.min.js" %>
  <%= javascript_include_tag org_charts_path %>

	<style type="text/css">
		path.link {
			fill: none;
			stroke: #ccc;
			stroke-width: 1.5px;
		}
		
		#chart {
			border: 1px dotted;
		}
	</style>
<% end %>
