<%= form_for(@dept) do |f| %>
	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %><br>
		<br>
		Parent Dept: 
		<%= f.select :parent_id, [["All Depts", -1]] + Dept.all.collect { |d| [d.name, d.id] } %><br>
		<br>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
