<%= form_for(@human) do |f| %>
  <% if @human.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@human.errors.count, "error") %> prohibited this human from being saved:</h2>

      <ul>
      <% @human.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
	  <%= f.label :name %> <%= f.text_field :name %>
		<br><br>
	 	<%= f.label :board_date %> <%= f.date_select :board_date %>
		<br><br>
	 	<%= f.label :gender %> <%= f.select :gender, [["Male", "m"], ["Female", "f"]] %>
		<br><br>
	 	<%= f.label :marriage_state %> <%= f.select :marriage_state, [["Unknown", "unknown"], ["Married", "married"], ["Single", "single"], ["Divorced", "divorced"]] %>
		<br><br>
		<%= f.label :dept %> <%= f.select :dept_id, [["All Depts", -1]] + Dept.all.collect { |d| [d.name, d.id] } %>
		<br><br>
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
