<%= form_for(@human, :html => { :class => "form-horizontal", :id => "current_form" } ) do |f| %>
  <% if @human.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@human.errors.count, "error") %> prohibited this human from being saved:</h2>

      <ul>
      <% @human.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<fieldset>
		<div class="container-fluid" style="width:800px;">
		  <div class="row-fluid">
		    <div class="span6">
						<div class="control-group">
		        <%= f.label :name, :class => "control-label" %>
						<div class="controls">
			        <%= f.text_field :name %>
						</div>
		      </div>
		      <div class="control-group">
		        <%= f.label :login, :class => "control-label" %>
						<div class="controls">
			        <%= f.text_field :login %>
						</div>
		      </div>
		      <div class="control-group">
		        <%= f.label :password, :class => "control-label" %>
						<div class="controls">
			        <%= f.password_field :password %>
						</div>
		      </div>
		      <div class="control-group">
		        <%= f.label :board_date, :class => "control-label" %>
						<div class="controls">
			        <%= f.text_field :board_date %>
						</div>
		      </div>
		      <div class="control-group">
		        <%= f.label :gender, :class => "control-label" %>
						<div class="controls">
			        <%= f.select :gender, Settings.genders %>
						</div>
		      </div>
		      <div class="control-group">
		        <%= f.label :marriage_state, :class => "control-label" %>
						<div class="controls">
			        <%= f.select :marriage_state, Settings.marriage_status %>
						</div>
		      </div>
		      <div class="control-group">
		        <%= f.label :dept, :class => "control-label" %> 
						<div class="controls">
			        <%= f.select :dept_id, all_depts %>
						</div>
		      </div>
		      <div class="control-group">
		        <%= f.label :is_manager, :class => "control-label" %>
						<div class="controls">
			        <%= check_box "human", "manager?" %>
						</div>
		      </div>
		    </div>
		    <div class="span6">
		      <div class="control-group">
		        <%= f.label :birthday, :class => "control-label" %>
						<div class="controls">
			        <%= f.text_field :birthday %>
						</div>
		      </div>
		      <div class="control-group">
		        <%= f.label :hometown, :class => "control-label" %>
						<div class="controls">
			        <%= f.text_field :hometown %>
						</div>
		      </div>
		      <div class="control-group">
		        <%= f.label :mobile, :class => "control-label" %>
						<div class="controls">
			        <%= f.text_field :mobile %>
						</div>
		      </div>
		      <div class="control-group">
		        <%= f.label :home_address, :class => "control-label" %>
						<div class="controls">
			        <%= f.text_field :home_address %>
						</div>
		      </div>
		      <div class="control-group">
		        <%= f.label :major_skill, :class => "control-label" %>
						<div class="controls">
		        <%= f.text_field :major_skill %>
						</div>
		      </div>
		      <div class="control-group">
		        <%= f.label :other_skills, :class => "control-label" %>
						<div class="controls">
			        <%= f.text_field :other_skills %>
						</div>
		      </div>
		      <div class="control-group">
		        <%= f.label :id_card_no, :class => "control-label" %>
						<div class="controls">
			        <%= f.text_field :id_card_no %>
						</div>
		      </div>
		      <div class="control-group">
		        <%= f.label :employment_state, :class => "control-label" %>
						<div class="controls">
			        <%= f.select :employment_state, Settings.employment_status %>
						</div>
		      </div>
		    </div>
		  </div>
		</div>
  </fieldset>

<% end %>