$(document).ready(function() {
	var currentFilter = "amanage";
	
    globalTable = $('#table').dataTable({
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": "<%= humen_path %>.json",
        "bPaginate": true,
        "bLengthChange": false,
        "bFilter": false,
        "bSort": true,
        "bInfo": true,
        "bAutoWidth": false,
		"sDom": '<"row-fluid"i p>rt<"clear">',
		"aoColumns": [
		            { "mDataProp": "id" },
		            { "mDataProp": "name", "bSortable": false },
		            { "mDataProp": "login" },
		            { "mDataProp": "gender" },
		            { "mDataProp": "marriage_state" },
		            { "mDataProp": "dept_name" },
		            { "mDataProp": "board_date" },
		            { "mDataProp": "employment_state" }
		        ],
		"fnServerParams": function (aoData) {
  			aoData.push( { "name": "filter", "value": currentFilter } );
		}
    });

    $('#new_human_link').click(function() {
		openDialog("<%= new_human_path %>?dept_id=" + getTreeSelectionKey(), 900, "New Human");
    });

    $('#edit_human_link').click(function() {
		openDialog("<%= humen_path %>/" + getTableSelectionKey() + "/edit", 900, "Edit Human");
    });

	$("#table tbody").click(function(event) {
		$(globalTable.fnSettings().aoData).each(function (){
			$(this.nTr).removeClass('row_selected');
		});
		$(event.target.parentNode).addClass('row_selected');
		
		// update delete link
		$("#delete_human_link").attr("href", "<%= humen_path %>/" + getTableSelectionKey());
	});
	
	$('.filter-item').click(function(event) {
		elem = event.target;
		text = elem.innerHTML;
		filter = $(elem).attr("filter");
		if (currentFilter != filter) {
			currentFilter = filter;
			$("#filter-menu")[0].innerHTML = "Filter - " + text + " <span class=\"caret\"></span>";
			globalTable.fnDraw();
		}
	})
});

function onTreeNodeActivate(node) {
	var table = getTable();
	table.fnSettings().sAjaxSource = "<%= humen_path %>.json?dept_id=" + node.data.key;
	table.fnDraw();
};