<%= render 'home/nav' %>
<div class="container">
	<div class="btn-toolbar">
	<div class="btn-group">
		<a href="#" id="new_level_link" class="btn">New Level</a>
		<a href="#" id="new_title_link" class="btn">New Title</a>
	</div>
	</div>
	<table class="table table-bordered" id="table">
		<thead>
		<tr>
			<th>Band</th>
			<th>Level</th>
			<th>Title</th>
		</tr>
		</thead>
		<tbody>
		<% @bands.keys.each do |key| %>
		<tr>
			<td><%= key %></td>
			<td>
				<div class="container-fluid">
					<% @bands[key][:l].each do |level| %>
						<div class="row">
							<%= link_to 'X', "#{levels_path}/#{level.id}", :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => 'btn btn-tiny' %>
							<a href="<%= levels_path %>/<%= level.id %>/edit" class="edit_level_link btn-tiny"><%= level.level %> (<%= level.salary_from %>-<%= level.salary_to %>)</a>
						</div>
					<% end %>
					</div>
				</td>
				<td>
					<div class="container-fluid">
					<% @bands[key][:t].each do |title| %>
						<div class="row">
							<%= link_to 'X', "#{titles_path}/#{title.id}", :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => 'btn btn-tiny' %>
							<a href="<%= titles_path %>/<%= title.id %>/edit" class="edit_title_link btn-tiny"><%= title.title %></a>
						</div>
					<% end %>
				</div>
			</td>
		</tr>
		<% end %>		
		</tbody>
	</table>
</div>

<% content_for :header do %>
	<%= javascript_include_tag bands_path %>
<% end %>