<%= form_for(@title, :html => { :class => "form-horizontal", :id => "current_form" }) do |f| %>
  <% if @title.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@title.errors.count, "error") %> prohibited this title from being saved:</h2>

      <ul>
      <% @title.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<fieldset>
		<div class="control-group">
			<%= f.label :title, :class => "control-label" %>
			<div class="controls">
				<%= f.text_field :title %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :band, :class => "control-label" %>
			<div class="controls">
				<%= f.select :band, all_bands %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :job_desc, :class => "control-label" %>
			<div class="controls">
				<%= f.text_area :job_desc, :class => "text-area" %>
			</div>
		</div>
	</fieldset>
<% end %>
