<%= form_for(@level, :html => { :class => "form-horizontal", :id => "current_form" }) do |f| %>
  <% if @level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@level.errors.count, "error") %> prohibited this level from being saved:</h2>

      <ul>
      <% @level.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<fieldset>
		<div class="control-group">
			<%= f.label :level, :class => "control-label" %>
			<div class="controls">
				<%= f.text_field :level %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :band, :class => "control-label" %>
			<div class="controls">
				<%= f.text_field :band %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :salary_from, :class => "control-label" %>
			<div class="controls">
				<%= f.text_field :salary_from %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :salary_to, :class => "control-label" %>
			<div class="controls">
				<%= f.text_field :salary_to %>
			</div>
		</div>
	</fieldset>
<% end %>
