<!DOCTYPE html>
<html>
<head>
  <title>HR</title>
  <%= stylesheet_link_tag    "application" %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.dynatree.min" %>
  <%= javascript_include_tag "jquery.dataTables.min" %>
  <%= javascript_include_tag "jquery.cookie" %>

  <%= yield(:header) %>

  <%= csrf_meta_tags %>

</head>
<body>
<%= yield %>
</body>
</html>
